@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&family=Rubik:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&family=Bellefair&family=Rubik:wght@300&display=swap");
$tab-size: 768px;
$mobile-size: 375px;
@mixin flexDesign($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}
@mixin tabContent {
  @media (max-width: $tab-size) {
    @content;
  }
}
@mixin mobileContent {
  @media (max-width: $mobile-size) {
    @content;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.homeImage {
  height: 100vh;
  background-image: url("assets/home/background-home-desktop.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  @include tabContent {
    background-image: url("assets/home/background-home-tablet.jpg");
  }
  @include mobileContent {
    background-image: url("assets/home/background-home-mobile.jpg");
  }
}
.destinationImage {
  height: 100vh;
  background-image: url("assets/destination/background-destination-desktop.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  @include tabContent {
    background-image: url("assets/destination/background-destination-tablet.jpg");
  }
  @include mobileContent {
    background-image: url("assets/destination/background-destination-mobile.jpg");
  }
}
.container {
  width: 100%;
  .navbar {
    width: 90%;
    height: 96px;
    transform: translateX(11%) translateY(40px);
    @include flexDesign(row, space-between, center);
    .st_line {
      width: 473px;
      height: 1px;
      background-color: #a8a8a8;
      transform: translateX(7%);
      z-index: 33333;
      @include tabContent {
        display: none;
      }
    }
    .menu {
      width: 80%;
      min-width: 456px;
      @include tabContent {
        max-width: 450px;
        min-width: 200px;
      }
      @include mobileContent {
        display: none;
      }
      height: 96px;
      position: relative;
      backdrop-filter: blur(7px) saturate(200%);
      -webkit-backdrop-filter: blur(7px) saturate(200%);
      background-color: rgba(255, 255, 255, 0.12);
      @include flexDesign(row, center, center);
      .list {
        width: 70%;
        @include tabContent {
          max-width: 356px;
        }
        height: 19px;
        @include flexDesign(row, space-around, center);
        .one {
          .underline {
            display: none;
            width: 70px;
            height: 3px;
            @include tabContent {
              width: 36px;
            }
          }
        }
        .two {
          .underline {
            display: none;
            width: 127px;
            height: 3px;
            @include tabContent {
              width: 87px;
            }
          }
        }
        .three {
          .underline {
            display: none;
            width: 71px;
            height: 3px;
            @include tabContent {
              width: 35px;
            }
          }
        }
        .four {
          .underline {
            display: none;
            width: 127px;
            height: 3px;
            @include tabContent {
              width: 87px;
            }
          }
        }
        .option {
          margin-right: 10px;
          @include flexDesign(row, space-between, center);
          position: relative;
          [class^="underline"] {
            position: absolute;
            top: 54px;
            background-color: #ffffff;
          }
          &:hover {
            .underline {
              display: block;
              background-color: #ffffffbe;
            }
          }
          .active {
            display: block;
          }
          .num {
            padding-right: 6px;
            @include tabContent {
              display: none;
            }
          }
          .text {
            @include tabContent {
              font-size: clamp(12px, 1px, 15px);
            }
          }
          .text,
          .num {
            color: #ffffff;
            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }
    .bar {
      display: none;
      cursor: pointer;
      transform: translateX(-10px);
      @include mobileContent {
        display: block;
      }
    }
  }
}
.media_menu {
  display: none;
  width: 254px;
  height: 100%;
  position: absolute;
  backdrop-filter: blur(7px) saturate(200%);
  -webkit-backdrop-filter: blur(7px) saturate(200%);
  background-color: rgba(255, 255, 255, 0.12);
  top: 0;
  right: 0;
  .cross {
    width: 100%;
    height: 120px;
    @include flexDesign(row, flex-end, center);
    svg {
      margin-right: 20px;
      cursor: pointer;
    }
  }
  .menu {
    @include flexDesign(column, flex-start, flex-end);
    .option {
      width: 230px;
      height: 40px;
      @include flexDesign(row, flex-start, center);
      .num {
        padding-right: 15px;
      }
      .num,
      .text {
        color: #ffffff;
        &:hover {
          cursor: pointer;
        }
      }
    }
    .active {
      border-right: 4px solid #ffffff;
    }
  }
}
.result_section {
  width: 100%;
  height: 400px;
  transform: translateY(230px);
  @include flexDesign(row, center, center);
  .result_container {
    width: 80%;
    height: 350px;
    @include flexDesign(row, center, center);
    @include tabContent {
      @include flexDesign(column, center, center);
    }
    .text,
    .exp_img {
      width: 50%;
      color: #ffffff;
      @include tabContent {
        width: 100%;
      }
    }
    .exp_img {
      @include flexDesign(row, center, center);
    }
    .text {
      @include tabContent {
        @include flexDesign(column, center, center);
      }
      .sub_header {
        width: 430px;
        height: 34px;
        font-size: clamp(24px, 1px, 28px);
        word-spacing: 4.75px;
        font-family: "Bellefair", serif;
        @include tabContent {
          width: 280px;
          height: 24px;
          font-size: 18px;
          text-align: center;
        }
        @include mobileContent {
          width: 217px;
        }
      }
      .header {
        width: 445px;
        height: 172px;
        font-size: clamp(130px, 2px, 150px);
        font-family: "Barlow Condensed", sans-serif;
        @include tabContent {
          text-align: center;
          max-width: 375px;
        }
        @include mobileContent {
          max-width: 317px;
        }
      }
      .desc {
        width: 80%;
        height: 128px;
        font-size: 17px;
        line-break: auto;
        text-align: justify;
        transform: translateY(10px);
        @include tabContent {
          text-align: center;
          width: 95%;
          height: 112px;
        }
        @include mobileContent {
          width: 327px;
          height: 125px;
        }
      }
    }
    .exp_img {
      .exp_box {
        font-size: 32px;
        letter-spacing: 2px;
        font-family: "Bellefair", serif;
        width: 274px;
        height: 274px;
        @include tabContent {
          width: 242px;
          height: 242px;
          transform: translateY(30px);
        }
        @include mobileContent {
          width: 150px;
          height: 150px;
        }
        background-color: #ffffff;
        border-radius: 50%;
        color: #0b0d17;
        @include flexDesign(row, center, center);
        cursor: pointer;
        transition: box-shadow 0.5s;
        &:hover {
          box-shadow: 0px 0px 0px 40px #ffffff25;
        }
      }
    }
  }
  .planetSection {
    width: 90%;
    height: auto;
    @include flexDesign(row, flex-start, flex-start);
    .planerWelcome {
      @include flexDesign(column, flex-start, flex-start);
      .welcomeText {
        @include flexDesign(row, flex-start, flex-start);
        transform: translateX(100px) translateY(-90px);
        .num {
          margin-right: 20px;
          color: #ffffff3d;
        }
        .text {
          color: #ffffff;
        }
        .num,
        .text {
          font-size: clamp(24px, 1px, 28px);
          word-spacing: 4.75px;
          font-family: "Bellefair", serif;
        }
      }
      .planet {
        width: 400px;
        height: 400px;
        transform: translateX(150px) translateY(-50px);
      }
    }
  }
  .plantOpDesc {
    .planetOpt {
      width: 285.5px;
      height: 34px;
      @include flexDesign(row, space-between, flex-start);
      color: #ffffff;
      font-size: 16px;
      letter-spacing: 2.35px;
      font-family: "Barlow Condensed", sans-serif;
      transform: translateX(0px) translateY(-180px);
      .planet {
        position: relative;
        &:hover {
          cursor: pointer;
          .underline {
            display: block;
            background-color: #ffffffbe;
          }
        }
      }
      .one {
        .underline {
          display: none;
          width: 41px;
          height: 3px;
          background-color: #ffffff;
          position: absolute;
          top: 30px;
          left: -1px;
        }
      }
      .two {
        .underline {
          display: none;
          width: 41px;
          height: 3px;
          background-color: #ffffff;
          position: absolute;
          top: 30px;
          left: -1px;
        }
      }
      .three {
        .underline {
          display: none;
          width: 56px;
          height: 3px;
          background-color: #ffffff;
          position: absolute;
          top: 30px;
          left: -1px;
        }
      }
      .four {
        .underline {
          display: none;
          width: 43px;
          height: 3px;
          background-color: #ffffff;
          position: absolute;
          top: 30px;
          left: -1px;
        }
      }
      .active {
        .underline {
          display: block;
        }
      }
    }
  }
  .currentPlanetName {
    font-size: 100px;
    font-family: "Bellefair", serif;
    color: #ffffff;
    transform: translateX(0px) translateY(-130px);
  }
  .currentPlanetDesc {
    // font-family: "Barlow Condensed", sans-serif;
    text-align: justify;
    color: white;
    width: 50%;
    transform: translateX(0px) translateY(-100px);
  }
  .border_line {
    width: 60%;
    height: 2px;
    background-color: #383b4b;
    transform: translateY(-20px);
  }
  .planetInfo {
    width: 60%;
    height: auto;
    @include flexDesign(row, space-between, flex-start);
    // font-family: "Bellefair", serif;
    .planetDst,
    .planetTime {
      height: 50px;
      @include flexDesign(column, space-between, flex-start);
      .dstDes,
      .timeDesc {
        font-size: 14px;
        font-family: "Barlow Condensed", sans-serif;
        color: #d0d6f9;
      }
      .dstNum,
      .timeNum {
        font-size: 28px;
        font-family: "Bellefair", serif;
        color: #ffffff;
      }
    }
  }
}
