$tab-size: 768px;
$mobile-size: 375px;
@mixin flexDesign($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}
@mixin tabContent {
  @media (max-width: $tab-size) {
    @content;
  }
}
@mixin mobileContent {
  @media (max-width: $mobile-size) {
    @content;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  height: 100vh;
  background-image: url("assets/home/background-home-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  @include tabContent {
    background-image: url("assets/home/background-home-tablet.jpg");
  }
  @include mobileContent {
    background-image: url("assets/home/background-home-mobile.jpg");
  }
  .navbar {
    width: 90%;
    height: 96px;
    transform: translateX(153px) translateY(40px);
    @include flexDesign(row, space-between, center);
    .st_line {
      width: 473px;
      height: 1px;
      background-color: #a8a8a8;
      transform: translateX(40px);
      z-index: 33333;
    }
    .menu {
      width: 830px;
      height: 96px;
      position: relative;
      backdrop-filter: blur(7px) saturate(200%);
      -webkit-backdrop-filter: blur(7px) saturate(200%);
      background-color: rgba(255, 255, 255, 0.12);
      @include flexDesign(row, center, center);
      .list {
        width: 542px;
        height: 19px;
        @include flexDesign(row, space-around, center);
        .one {
          .underline {
            display: none;
            width: 70px;
            height: 3px;
          }
        }
        .two {
          .underline {
            display: none;
            width: 127px;
            height: 3px;
          }
        }
        .three {
          .underline {
            display: none;
            width: 71px;
            height: 3px;
          }
        }
        .four {
          .underline {
            display: none;
            width: 127px;
            height: 3px;
          }
        }
        .option {
          @include flexDesign(row, space-between, center);
          position: relative;
          [class^="underline"] {
            position: absolute;
            top: 54px;
            background-color: #ffffff;
          }
          .active {
            display: block;
          }
          .num {
            padding-right: 6px;
          }
          .text,
          .num {
            color: #ffffff;
            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
